.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 554px;
  height: 398px;
  border-radius: 30px;
}

.modalTitle {
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.modal__button_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
