.filmInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.filmTitle {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.chapterWrap {
  display: flex;
  font-display: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.chapterTitle {
  display: block;
  margin-right: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.chapterInfo {
  display: block;
  max-width: 600px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.starsItem {
  text-align: left;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
